Curse.RestProxy/Service References/AddOnService/AddOnService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://addonservice.curse.com/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AddOnService" targetNamespace="http://addonservice.curse.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="http://addon-service.curse.com/AddOnService.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://addonservice.curse.com/Imports">
      <xsd:import schemaLocation="http://addon-service.curse.com/AddOnService.svc?xsd=xsd0" namespace="http://addonservice.curse.com/" />
      <xsd:import schemaLocation="http://addon-service.curse.com/AddOnService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://addon-service.curse.com/AddOnService.svc?xsd=xsd2" namespace="Curse.AddOns" />
      <xsd:import schemaLocation="http://addon-service.curse.com/AddOnService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Curse.AddOns" />
      <xsd:import schemaLocation="http://addon-service.curse.com/AddOnService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://addon-service.curse.com/AddOnService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Curse.ClientService.Models" />
      <xsd:import schemaLocation="http://addon-service.curse.com/AddOnService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAddOnService_GetAddOn_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAddOn" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_GetAddOn_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAddOnResponse" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_GetRepositoryMatchFromSlug_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRepositoryMatchFromSlug" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_GetRepositoryMatchFromSlug_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRepositoryMatchFromSlugResponse" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_GetChangeLog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetChangeLog" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_GetChangeLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetChangeLogResponse" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_v2GetChangeLog_InputMessage">
    <wsdl:part name="parameters" element="tns:v2GetChangeLog" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_v2GetChangeLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:v2GetChangeLogResponse" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_GetAddOnDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAddOnDescription" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_GetAddOnDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAddOnDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_v2GetAddOnDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:v2GetAddOnDescription" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_v2GetAddOnDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:v2GetAddOnDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_GetAddOnFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAddOnFile" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_GetAddOnFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAddOnFileResponse" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_GetAddOns_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAddOns" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_GetAddOns_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAddOnsResponse" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_v2GetAddOns_InputMessage">
    <wsdl:part name="parameters" element="tns:v2GetAddOns" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_v2GetAddOns_OutputMessage">
    <wsdl:part name="parameters" element="tns:v2GetAddOnsResponse" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_GetFingerprintMatches_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFingerprintMatches" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_GetFingerprintMatches_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFingerprintMatchesResponse" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_v2GetFingerprintMatches_InputMessage">
    <wsdl:part name="parameters" element="tns:v2GetFingerprintMatches" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_v2GetFingerprintMatches_OutputMessage">
    <wsdl:part name="parameters" element="tns:v2GetFingerprintMatchesResponse" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_GetFuzzyMatches_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFuzzyMatches" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_GetFuzzyMatches_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFuzzyMatchesResponse" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_GetDownloadToken_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDownloadToken" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_GetDownloadToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDownloadTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_GetSecureDownloadToken_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSecureDownloadToken" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_GetSecureDownloadToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSecureDownloadTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_GetSyncProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSyncProfile" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_GetSyncProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSyncProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_CreateSyncGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSyncGroup" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_CreateSyncGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSyncGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_JoinSyncGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinSyncGroup" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_JoinSyncGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinSyncGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_LeaveSyncGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:LeaveSyncGroup" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_LeaveSyncGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeaveSyncGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_SaveSyncSnapshot_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveSyncSnapshot" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_SaveSyncSnapshot_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveSyncSnapshotResponse" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_SaveSyncTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveSyncTransactions" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_SaveSyncTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveSyncTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_GetSavedGames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSavedGames" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_GetSavedGames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSavedGamesResponse" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_DeleteSavedGame_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSavedGame" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_DeleteSavedGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSavedGameResponse" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_DeleteSavedGameRevision_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSavedGameRevision" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_DeleteSavedGameRevision_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSavedGameRevisionResponse" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_SetSavedGameStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SetSavedGameStatus" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_SetSavedGameStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetSavedGameStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_SetSavedGameName_InputMessage">
    <wsdl:part name="parameters" element="tns:SetSavedGameName" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_SetSavedGameName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetSavedGameNameResponse" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_SetSavedGameDescription_InputMessage">
    <wsdl:part name="parameters" element="tns:SetSavedGameDescription" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_SetSavedGameDescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetSavedGameDescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_SetSavedGameDefaultRevision_InputMessage">
    <wsdl:part name="parameters" element="tns:SetSavedGameDefaultRevision" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_SetSavedGameDefaultRevision_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetSavedGameDefaultRevisionResponse" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_SetSavedGameFavoriteRevision_InputMessage">
    <wsdl:part name="parameters" element="tns:SetSavedGameFavoriteRevision" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_SetSavedGameFavoriteRevision_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetSavedGameFavoriteRevisionResponse" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_GetSavedGameConstraints_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSavedGameConstraints" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_GetSavedGameConstraints_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSavedGameConstraintsResponse" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_GetSavedGameRestrictionLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSavedGameRestrictionLevel" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_GetSavedGameRestrictionLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSavedGameRestrictionLevelResponse" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_UploadAvailableForUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadAvailableForUser" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_UploadAvailableForUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadAvailableForUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_GetAddOnDump_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAddOnDump" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_GetAddOnDump_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAddOnDumpResponse" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_ResetAllAddonCache_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetAllAddonCache" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_ResetAllAddonCache_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetAllAddonCacheResponse" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_ResetSingleAddonCache_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetSingleAddonCache" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_ResetSingleAddonCache_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetSingleAddonCacheResponse" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_SetSavedGameRestrictionLevel_InputMessage">
    <wsdl:part name="parameters" element="tns:SetSavedGameRestrictionLevel" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_SetSavedGameRestrictionLevel_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetSavedGameRestrictionLevelResponse" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_HealthCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:HealthCheck" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_HealthCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:HealthCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_GetAllFilesForAddOn_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFilesForAddOn" />
  </wsdl:message>
  <wsdl:message name="IAddOnService_GetAllFilesForAddOn_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFilesForAddOnResponse" />
  </wsdl:message>
  <wsdl:portType name="IAddOnService">
    <wsdl:operation name="GetAddOn">
      <wsdl:input wsaw:Action="http://addonservice.curse.com/IAddOnService/GetAddOn" message="tns:IAddOnService_GetAddOn_InputMessage" />
      <wsdl:output wsaw:Action="http://addonservice.curse.com/IAddOnService/GetAddOnResponse" message="tns:IAddOnService_GetAddOn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRepositoryMatchFromSlug">
      <wsdl:input wsaw:Action="http://addonservice.curse.com/IAddOnService/GetRepositoryMatchFromSlug" message="tns:IAddOnService_GetRepositoryMatchFromSlug_InputMessage" />
      <wsdl:output wsaw:Action="http://addonservice.curse.com/IAddOnService/GetRepositoryMatchFromSlugResponse" message="tns:IAddOnService_GetRepositoryMatchFromSlug_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetChangeLog">
      <wsdl:input wsaw:Action="http://addonservice.curse.com/IAddOnService/GetChangeLog" message="tns:IAddOnService_GetChangeLog_InputMessage" />
      <wsdl:output wsaw:Action="http://addonservice.curse.com/IAddOnService/GetChangeLogResponse" message="tns:IAddOnService_GetChangeLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="v2GetChangeLog">
      <wsdl:input wsaw:Action="http://addonservice.curse.com/IAddOnService/v2GetChangeLog" message="tns:IAddOnService_v2GetChangeLog_InputMessage" />
      <wsdl:output wsaw:Action="http://addonservice.curse.com/IAddOnService/v2GetChangeLogResponse" message="tns:IAddOnService_v2GetChangeLog_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAddOnDescription">
      <wsdl:input wsaw:Action="http://addonservice.curse.com/IAddOnService/GetAddOnDescription" message="tns:IAddOnService_GetAddOnDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://addonservice.curse.com/IAddOnService/GetAddOnDescriptionResponse" message="tns:IAddOnService_GetAddOnDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="v2GetAddOnDescription">
      <wsdl:input wsaw:Action="http://addonservice.curse.com/IAddOnService/v2GetAddOnDescription" message="tns:IAddOnService_v2GetAddOnDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://addonservice.curse.com/IAddOnService/v2GetAddOnDescriptionResponse" message="tns:IAddOnService_v2GetAddOnDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAddOnFile">
      <wsdl:input wsaw:Action="http://addonservice.curse.com/IAddOnService/GetAddOnFile" message="tns:IAddOnService_GetAddOnFile_InputMessage" />
      <wsdl:output wsaw:Action="http://addonservice.curse.com/IAddOnService/GetAddOnFileResponse" message="tns:IAddOnService_GetAddOnFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAddOns">
      <wsdl:input wsaw:Action="http://addonservice.curse.com/IAddOnService/GetAddOns" message="tns:IAddOnService_GetAddOns_InputMessage" />
      <wsdl:output wsaw:Action="http://addonservice.curse.com/IAddOnService/GetAddOnsResponse" message="tns:IAddOnService_GetAddOns_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="v2GetAddOns">
      <wsdl:input wsaw:Action="http://addonservice.curse.com/IAddOnService/v2GetAddOns" message="tns:IAddOnService_v2GetAddOns_InputMessage" />
      <wsdl:output wsaw:Action="http://addonservice.curse.com/IAddOnService/v2GetAddOnsResponse" message="tns:IAddOnService_v2GetAddOns_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFingerprintMatches">
      <wsdl:input wsaw:Action="http://addonservice.curse.com/IAddOnService/GetFingerprintMatches" message="tns:IAddOnService_GetFingerprintMatches_InputMessage" />
      <wsdl:output wsaw:Action="http://addonservice.curse.com/IAddOnService/GetFingerprintMatchesResponse" message="tns:IAddOnService_GetFingerprintMatches_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="v2GetFingerprintMatches">
      <wsdl:input wsaw:Action="http://addonservice.curse.com/IAddOnService/v2GetFingerprintMatches" message="tns:IAddOnService_v2GetFingerprintMatches_InputMessage" />
      <wsdl:output wsaw:Action="http://addonservice.curse.com/IAddOnService/v2GetFingerprintMatchesResponse" message="tns:IAddOnService_v2GetFingerprintMatches_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFuzzyMatches">
      <wsdl:input wsaw:Action="http://addonservice.curse.com/IAddOnService/GetFuzzyMatches" message="tns:IAddOnService_GetFuzzyMatches_InputMessage" />
      <wsdl:output wsaw:Action="http://addonservice.curse.com/IAddOnService/GetFuzzyMatchesResponse" message="tns:IAddOnService_GetFuzzyMatches_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDownloadToken">
      <wsdl:input wsaw:Action="http://addonservice.curse.com/IAddOnService/GetDownloadToken" message="tns:IAddOnService_GetDownloadToken_InputMessage" />
      <wsdl:output wsaw:Action="http://addonservice.curse.com/IAddOnService/GetDownloadTokenResponse" message="tns:IAddOnService_GetDownloadToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSecureDownloadToken">
      <wsdl:input wsaw:Action="http://addonservice.curse.com/IAddOnService/GetSecureDownloadToken" message="tns:IAddOnService_GetSecureDownloadToken_InputMessage" />
      <wsdl:output wsaw:Action="http://addonservice.curse.com/IAddOnService/GetSecureDownloadTokenResponse" message="tns:IAddOnService_GetSecureDownloadToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSyncProfile">
      <wsdl:input wsaw:Action="http://addonservice.curse.com/IAddOnService/GetSyncProfile" message="tns:IAddOnService_GetSyncProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://addonservice.curse.com/IAddOnService/GetSyncProfileResponse" message="tns:IAddOnService_GetSyncProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateSyncGroup">
      <wsdl:input wsaw:Action="http://addonservice.curse.com/IAddOnService/CreateSyncGroup" message="tns:IAddOnService_CreateSyncGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://addonservice.curse.com/IAddOnService/CreateSyncGroupResponse" message="tns:IAddOnService_CreateSyncGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinSyncGroup">
      <wsdl:input wsaw:Action="http://addonservice.curse.com/IAddOnService/JoinSyncGroup" message="tns:IAddOnService_JoinSyncGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://addonservice.curse.com/IAddOnService/JoinSyncGroupResponse" message="tns:IAddOnService_JoinSyncGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LeaveSyncGroup">
      <wsdl:input wsaw:Action="http://addonservice.curse.com/IAddOnService/LeaveSyncGroup" message="tns:IAddOnService_LeaveSyncGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://addonservice.curse.com/IAddOnService/LeaveSyncGroupResponse" message="tns:IAddOnService_LeaveSyncGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveSyncSnapshot">
      <wsdl:input wsaw:Action="http://addonservice.curse.com/IAddOnService/SaveSyncSnapshot" message="tns:IAddOnService_SaveSyncSnapshot_InputMessage" />
      <wsdl:output wsaw:Action="http://addonservice.curse.com/IAddOnService/SaveSyncSnapshotResponse" message="tns:IAddOnService_SaveSyncSnapshot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveSyncTransactions">
      <wsdl:input wsaw:Action="http://addonservice.curse.com/IAddOnService/SaveSyncTransactions" message="tns:IAddOnService_SaveSyncTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://addonservice.curse.com/IAddOnService/SaveSyncTransactionsResponse" message="tns:IAddOnService_SaveSyncTransactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSavedGames">
      <wsdl:input wsaw:Action="http://addonservice.curse.com/IAddOnService/GetSavedGames" message="tns:IAddOnService_GetSavedGames_InputMessage" />
      <wsdl:output wsaw:Action="http://addonservice.curse.com/IAddOnService/GetSavedGamesResponse" message="tns:IAddOnService_GetSavedGames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSavedGame">
      <wsdl:input wsaw:Action="http://addonservice.curse.com/IAddOnService/DeleteSavedGame" message="tns:IAddOnService_DeleteSavedGame_InputMessage" />
      <wsdl:output wsaw:Action="http://addonservice.curse.com/IAddOnService/DeleteSavedGameResponse" message="tns:IAddOnService_DeleteSavedGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSavedGameRevision">
      <wsdl:input wsaw:Action="http://addonservice.curse.com/IAddOnService/DeleteSavedGameRevision" message="tns:IAddOnService_DeleteSavedGameRevision_InputMessage" />
      <wsdl:output wsaw:Action="http://addonservice.curse.com/IAddOnService/DeleteSavedGameRevisionResponse" message="tns:IAddOnService_DeleteSavedGameRevision_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetSavedGameStatus">
      <wsdl:input wsaw:Action="http://addonservice.curse.com/IAddOnService/SetSavedGameStatus" message="tns:IAddOnService_SetSavedGameStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://addonservice.curse.com/IAddOnService/SetSavedGameStatusResponse" message="tns:IAddOnService_SetSavedGameStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetSavedGameName">
      <wsdl:input wsaw:Action="http://addonservice.curse.com/IAddOnService/SetSavedGameName" message="tns:IAddOnService_SetSavedGameName_InputMessage" />
      <wsdl:output wsaw:Action="http://addonservice.curse.com/IAddOnService/SetSavedGameNameResponse" message="tns:IAddOnService_SetSavedGameName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetSavedGameDescription">
      <wsdl:input wsaw:Action="http://addonservice.curse.com/IAddOnService/SetSavedGameDescription" message="tns:IAddOnService_SetSavedGameDescription_InputMessage" />
      <wsdl:output wsaw:Action="http://addonservice.curse.com/IAddOnService/SetSavedGameDescriptionResponse" message="tns:IAddOnService_SetSavedGameDescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetSavedGameDefaultRevision">
      <wsdl:input wsaw:Action="http://addonservice.curse.com/IAddOnService/SetSavedGameDefaultRevision" message="tns:IAddOnService_SetSavedGameDefaultRevision_InputMessage" />
      <wsdl:output wsaw:Action="http://addonservice.curse.com/IAddOnService/SetSavedGameDefaultRevisionResponse" message="tns:IAddOnService_SetSavedGameDefaultRevision_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetSavedGameFavoriteRevision">
      <wsdl:input wsaw:Action="http://addonservice.curse.com/IAddOnService/SetSavedGameFavoriteRevision" message="tns:IAddOnService_SetSavedGameFavoriteRevision_InputMessage" />
      <wsdl:output wsaw:Action="http://addonservice.curse.com/IAddOnService/SetSavedGameFavoriteRevisionResponse" message="tns:IAddOnService_SetSavedGameFavoriteRevision_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSavedGameConstraints">
      <wsdl:input wsaw:Action="http://addonservice.curse.com/IAddOnService/GetSavedGameConstraints" message="tns:IAddOnService_GetSavedGameConstraints_InputMessage" />
      <wsdl:output wsaw:Action="http://addonservice.curse.com/IAddOnService/GetSavedGameConstraintsResponse" message="tns:IAddOnService_GetSavedGameConstraints_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSavedGameRestrictionLevel">
      <wsdl:input wsaw:Action="http://addonservice.curse.com/IAddOnService/GetSavedGameRestrictionLevel" message="tns:IAddOnService_GetSavedGameRestrictionLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://addonservice.curse.com/IAddOnService/GetSavedGameRestrictionLevelResponse" message="tns:IAddOnService_GetSavedGameRestrictionLevel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadAvailableForUser">
      <wsdl:input wsaw:Action="http://addonservice.curse.com/IAddOnService/UploadAvailableForUser" message="tns:IAddOnService_UploadAvailableForUser_InputMessage" />
      <wsdl:output wsaw:Action="http://addonservice.curse.com/IAddOnService/UploadAvailableForUserResponse" message="tns:IAddOnService_UploadAvailableForUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAddOnDump">
      <wsdl:input wsaw:Action="http://addonservice.curse.com/IAddOnService/GetAddOnDump" message="tns:IAddOnService_GetAddOnDump_InputMessage" />
      <wsdl:output wsaw:Action="http://addonservice.curse.com/IAddOnService/GetAddOnDumpResponse" message="tns:IAddOnService_GetAddOnDump_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetAllAddonCache">
      <wsdl:input wsaw:Action="http://addonservice.curse.com/IAddOnService/ResetAllAddonCache" message="tns:IAddOnService_ResetAllAddonCache_InputMessage" />
      <wsdl:output wsaw:Action="http://addonservice.curse.com/IAddOnService/ResetAllAddonCacheResponse" message="tns:IAddOnService_ResetAllAddonCache_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetSingleAddonCache">
      <wsdl:input wsaw:Action="http://addonservice.curse.com/IAddOnService/ResetSingleAddonCache" message="tns:IAddOnService_ResetSingleAddonCache_InputMessage" />
      <wsdl:output wsaw:Action="http://addonservice.curse.com/IAddOnService/ResetSingleAddonCacheResponse" message="tns:IAddOnService_ResetSingleAddonCache_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetSavedGameRestrictionLevel">
      <wsdl:input wsaw:Action="http://addonservice.curse.com/IAddOnService/SetSavedGameRestrictionLevel" message="tns:IAddOnService_SetSavedGameRestrictionLevel_InputMessage" />
      <wsdl:output wsaw:Action="http://addonservice.curse.com/IAddOnService/SetSavedGameRestrictionLevelResponse" message="tns:IAddOnService_SetSavedGameRestrictionLevel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HealthCheck">
      <wsdl:input wsaw:Action="http://addonservice.curse.com/IAddOnService/HealthCheck" message="tns:IAddOnService_HealthCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://addonservice.curse.com/IAddOnService/HealthCheckResponse" message="tns:IAddOnService_HealthCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFilesForAddOn">
      <wsdl:input wsaw:Action="http://addonservice.curse.com/IAddOnService/GetAllFilesForAddOn" message="tns:IAddOnService_GetAllFilesForAddOn_InputMessage" />
      <wsdl:output wsaw:Action="http://addonservice.curse.com/IAddOnService/GetAllFilesForAddOnResponse" message="tns:IAddOnService_GetAllFilesForAddOn_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="AddOnService">
    <wsdl:port name="BinaryHttpAddOnServiceEndpoint" binding="i0:BinaryHttpAddOnServiceEndpoint">
      <soap12:address location="http://addon-service.curse.com/AddOnService.svc/binary" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://addon-service.curse.com/AddOnService.svc/binary</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BinaryHttpsAddOnServiceEndpoint" binding="i0:BinaryHttpsAddOnServiceEndpoint">
      <soap12:address location="https://iis32b-live.curse.us/AddOnService.svc/binary" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://iis32b-live.curse.us/AddOnService.svc/binary</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WsHttpAddOnServiceEndpoint" binding="i0:WsHttpAddOnServiceEndpoint">
      <soap12:address location="http://addon-service.curse.com/AddOnService.svc/soap12" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://addon-service.curse.com/AddOnService.svc/soap12</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>