Curse.RestProxy/Service References/AddOnService/AddOnService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://addonservice.curse.com/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BinaryHttpAddOnServiceEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BinaryHttpsAddOnServiceEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WsHttpAddOnServiceEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://addonservice.curse.com/" location="http://addon-service.curse.com/AddOnService.svc?wsdl" />
  <wsdl:types />
  <wsdl:binding name="BinaryHttpAddOnServiceEndpoint" type="i0:IAddOnService">
    <wsp:PolicyReference URI="#BinaryHttpAddOnServiceEndpoint_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAddOn">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetAddOn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRepositoryMatchFromSlug">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetRepositoryMatchFromSlug" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChangeLog">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetChangeLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="v2GetChangeLog">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/v2GetChangeLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddOnDescription">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetAddOnDescription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="v2GetAddOnDescription">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/v2GetAddOnDescription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddOnFile">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetAddOnFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddOns">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetAddOns" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="v2GetAddOns">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/v2GetAddOns" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFingerprintMatches">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetFingerprintMatches" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="v2GetFingerprintMatches">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/v2GetFingerprintMatches" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFuzzyMatches">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetFuzzyMatches" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDownloadToken">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetDownloadToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecureDownloadToken">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetSecureDownloadToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSyncProfile">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetSyncProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSyncGroup">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/CreateSyncGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinSyncGroup">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/JoinSyncGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveSyncGroup">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/LeaveSyncGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSyncSnapshot">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/SaveSyncSnapshot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSyncTransactions">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/SaveSyncTransactions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSavedGames">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetSavedGames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSavedGame">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/DeleteSavedGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSavedGameRevision">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/DeleteSavedGameRevision" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSavedGameStatus">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/SetSavedGameStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSavedGameName">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/SetSavedGameName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSavedGameDescription">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/SetSavedGameDescription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSavedGameDefaultRevision">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/SetSavedGameDefaultRevision" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSavedGameFavoriteRevision">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/SetSavedGameFavoriteRevision" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSavedGameConstraints">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetSavedGameConstraints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSavedGameRestrictionLevel">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetSavedGameRestrictionLevel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadAvailableForUser">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/UploadAvailableForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddOnDump">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetAddOnDump" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetAllAddonCache">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/ResetAllAddonCache" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetSingleAddonCache">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/ResetSingleAddonCache" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSavedGameRestrictionLevel">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/SetSavedGameRestrictionLevel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HealthCheck">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/HealthCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFilesForAddOn">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetAllFilesForAddOn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BinaryHttpsAddOnServiceEndpoint" type="i0:IAddOnService">
    <wsp:PolicyReference URI="#BinaryHttpsAddOnServiceEndpoint_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAddOn">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetAddOn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRepositoryMatchFromSlug">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetRepositoryMatchFromSlug" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChangeLog">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetChangeLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="v2GetChangeLog">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/v2GetChangeLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddOnDescription">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetAddOnDescription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="v2GetAddOnDescription">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/v2GetAddOnDescription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddOnFile">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetAddOnFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddOns">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetAddOns" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="v2GetAddOns">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/v2GetAddOns" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFingerprintMatches">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetFingerprintMatches" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="v2GetFingerprintMatches">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/v2GetFingerprintMatches" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFuzzyMatches">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetFuzzyMatches" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDownloadToken">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetDownloadToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecureDownloadToken">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetSecureDownloadToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSyncProfile">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetSyncProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSyncGroup">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/CreateSyncGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinSyncGroup">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/JoinSyncGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveSyncGroup">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/LeaveSyncGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSyncSnapshot">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/SaveSyncSnapshot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSyncTransactions">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/SaveSyncTransactions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSavedGames">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetSavedGames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSavedGame">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/DeleteSavedGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSavedGameRevision">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/DeleteSavedGameRevision" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSavedGameStatus">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/SetSavedGameStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSavedGameName">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/SetSavedGameName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSavedGameDescription">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/SetSavedGameDescription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSavedGameDefaultRevision">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/SetSavedGameDefaultRevision" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSavedGameFavoriteRevision">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/SetSavedGameFavoriteRevision" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSavedGameConstraints">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetSavedGameConstraints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSavedGameRestrictionLevel">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetSavedGameRestrictionLevel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadAvailableForUser">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/UploadAvailableForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddOnDump">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetAddOnDump" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetAllAddonCache">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/ResetAllAddonCache" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetSingleAddonCache">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/ResetSingleAddonCache" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSavedGameRestrictionLevel">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/SetSavedGameRestrictionLevel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HealthCheck">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/HealthCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFilesForAddOn">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetAllFilesForAddOn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsHttpAddOnServiceEndpoint" type="i0:IAddOnService">
    <wsp:PolicyReference URI="#WsHttpAddOnServiceEndpoint_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAddOn">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetAddOn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRepositoryMatchFromSlug">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetRepositoryMatchFromSlug" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetChangeLog">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetChangeLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="v2GetChangeLog">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/v2GetChangeLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddOnDescription">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetAddOnDescription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="v2GetAddOnDescription">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/v2GetAddOnDescription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddOnFile">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetAddOnFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddOns">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetAddOns" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="v2GetAddOns">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/v2GetAddOns" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFingerprintMatches">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetFingerprintMatches" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="v2GetFingerprintMatches">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/v2GetFingerprintMatches" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFuzzyMatches">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetFuzzyMatches" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDownloadToken">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetDownloadToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecureDownloadToken">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetSecureDownloadToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSyncProfile">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetSyncProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateSyncGroup">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/CreateSyncGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinSyncGroup">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/JoinSyncGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LeaveSyncGroup">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/LeaveSyncGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSyncSnapshot">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/SaveSyncSnapshot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveSyncTransactions">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/SaveSyncTransactions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSavedGames">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetSavedGames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSavedGame">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/DeleteSavedGame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSavedGameRevision">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/DeleteSavedGameRevision" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSavedGameStatus">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/SetSavedGameStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSavedGameName">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/SetSavedGameName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSavedGameDescription">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/SetSavedGameDescription" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSavedGameDefaultRevision">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/SetSavedGameDefaultRevision" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSavedGameFavoriteRevision">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/SetSavedGameFavoriteRevision" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSavedGameConstraints">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetSavedGameConstraints" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSavedGameRestrictionLevel">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetSavedGameRestrictionLevel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadAvailableForUser">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/UploadAvailableForUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAddOnDump">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetAddOnDump" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetAllAddonCache">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/ResetAllAddonCache" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetSingleAddonCache">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/ResetSingleAddonCache" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSavedGameRestrictionLevel">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/SetSavedGameRestrictionLevel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HealthCheck">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/HealthCheck" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFilesForAddOn">
      <soap12:operation soapAction="http://addonservice.curse.com/IAddOnService/GetAllFilesForAddOn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>